{% extends "base.html" %}

{% block title %}
    Alfred - Profile
{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail"
         src="{{ user.gravatar(size=256) }}">
    <div class="profile-header" >
        {% if user.first_name or user.last_name %}
            <p>
            <h2>
            {% if user.first_name %}
                {{ user.first_name|capitalize  }}
            {% endif %}
            {% if user.last_name %}
                 {{ user.last_name|capitalize }}
            {% endif %}
            </h2>
            {% if user.address.city %}
                <h3>
                <a href="http://maps.google.com/?q={{user.address.city}}">
                        {{ user.address.city|capitalize }}
                </a>
                </h3>
            </p>
            {% endif %}
        {% endif %}
        {% if user.phone %}
            <abbr title="Phone">P:</abbr> {{ user.phone }}<br>
        {% endif %}
        <a href="mailto: {{ user.email }}">{{ user.email }}</a>
    </div>
</div>
{% endblock %}