{% extends "base.html" %}

{% block title %}
    Alfred - Profile
{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail"
         src="{{ user.gravatar(size=256) }}">
    <div class="profile-header" >
        {% if user.first_name or user.last_name %}
            <p>
            <h2>
            {% if user.first_name %}
                {{ user.first_name|capitalize  }}
            {% endif %}
            {% if user.last_name %}
                 {{ user.last_name|capitalize }}
            {% endif %}
            </h2>
            {% if user.address.city %}
                <h3>
                <a href="http://maps.google.com/?q={{user.address.city}}">
                        {{ user.address.city|capitalize }}
                </a>
                </h3>
            </p>
        {% endif %}

        {% endif %}
        <h3>Billing Address</h3>
        {% if user.address %}
            {{ user.address.street|capitalize }}<br>
            {{ user.address.postalcode}},
                {{ user.address.city|capitalize }}<br>
            {{ user.address.state|capitalize }}<br>
            {{ user.address.country|capitalize }}<br>
        {% endif %}
        {% if user.phone %}
            <abbr title="Phone">P:</abbr> {{ user.phone }}<br>
        {% endif %}
        <a href="mailto: {{ user.email }}">{{ user.email }}</a>
    <p>
        {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
                Edit Profile
            </a>
        {% endif %}
    </p>
    <h3>Friends</h3>
        {% for uid in current_user.friends %}
            <a href="{{ url_for('user_app.profile_page_id', user_id=uid) }}">
                {{ get_username_from_id(uid) }},
            </a>
        {% endfor %}
    </div>
    {% if current_user.is_student %}
    <h3>Teachers</h3>
        {% for uid in current_user.teachers %}
            <a href="{{ url_for('user_app.profile_page_id', user_id=uid) }}">
                {{ get_username_from_id(uid) }},
            </a>
        {% endfor %}
    </div>
    {% endif %}
    {% if current_user.is_student %}
        <h3>Parents</h3>
            {% for uid in current_user.parents %}
                <a href="{{ url_for('user_app.profile_page_id', user_id=uid) }}">
                    {{ get_username_from_id(uid) }},
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
