{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}
Alfred - Diary # {{diary.id}}
{% endblock %}

{% block page_content %}
<h2 style="text-align: center">{{diary.title}}</h2>
<br/>
<div style="margin: 5px">
    <h3>Description:</h3>
    <div style="text-indent: 1em;">
        {% if diary.description %}
        {{ diary.description| safe }}
        {% endif %}
    </div>

        <div style="margin-top: 15px; margin-left: 15px;">
        <b>Tags:  </b>
        {% for tag in diary.tags %}
            <span class="badge badge-default">{{ get_tag_text(tag) }}</span>
        {% endfor %}
    </div>

</div>

<div style="margin-top: 15px; margin-left: 5px;">
<h3> Study activity: {{diary.s_time}} hours spent</h3>
    <ul style="list-style: none;">
        {% for s_a in diary.s_activity %}
        <li>
                 {{ s_a }}
        </li>
        {% endfor %}
    </ul>
</div>
<!-- Other activity_app -->

<div style="margin-top: 15px; margin-left: 5px;">
<h3> Other activities: {{diary.o_time}} hours spent</h3>
    <ul style="list-style: none;">
        {% for o_a in diary.o_activity %}
        <li>
                 {{ o_a }}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="post-footer">
    {% if current_user.id == diary.author_id %}
    <a href="{{ url_for('diary_app.edit_diary', d_id=diary.id) }}">
        <span class="label label-primary">Edit</span>
    </a>
    {% endif %}
    <a href="{{ url_for('diary_app.diary_page', d_id=diary.id) }}">
        <span class="label label-default">Permalink</span>
    </a>
</div>
{% endblock %}