{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}
Alfred - Diary # {{diary.id}}
{% endblock %}

{% block page_content %}
<h2>Title: {{diary.title}}</h2>
<br/>
<h2>Description</h2>
{% if diary.description %}
    {{ diary.description| safe }}
{% endif %}
<br/><br/>
<b>Tags</b>:</br> {{ get_tag_text_list(diary.tags) }}
<br/>
<h3> Study activity: {{diary.s_time}} hours spent </h3>
<ul>
    {% for s_a in diary.s_activity %}
    <li> {{s_a}} </li>
    {% endfor %}
</ul>
<!-- Other activity -->
<h3> Other activities: {{diary.o_time}} hours spent </h3>
<ul>
    {% for o_a in diary.o_activity %}
    <li> {{ o_a }} </li>
    {% endfor %}
</ul>

<div class="post-footer">
    {% if current_user.id == diary.author_id %}
    <a href="{{ url_for('diary_app.edit_diary', d_id=diary.id) }}">
        <span class="label label-primary">Edit</span>
    </a>
    {% endif %}
    <a href="{{ url_for('diary_app.diary_page', d_id=diary.id) }}">
        <span class="label label-default">Permalink</span>
    </a>
</div>
{% endblock %}